<?xml version="1.0" ?>

<world name="demo_world" gravity="0.0 0.0 -9.81">

	<robot name="SPBot">
		<!-- model node is required -->
		<model dir="resources" path="spbot.urdf" name="SPBot" />
		<!-- origin node is optional -->
		<origin xyz="0.0 0.0 1.4" rpy="0 0 0" />
		<visual showwireframe="off" showframes="off" />
	</robot>

	<static_object name="Cylinder">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<visual>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <cylinder radius="0.05" length="0.8"/>
	        </geometry>
	        <material name="material_grey">
                <color rgba="0.5 0.5 0.5 1.0" />
            </material>
	    </visual>
	    <collision>
	        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
	        <geometry>
	            <cylinder radius="0.05" length="0.8"/>
	        </geometry>
	    </collision>
	</static_object>

	<static_object name="Box">
		<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
		<visual>
	        <origin xyz="0.0 0.0 -0.5" rpy="0 0 0" />
	        <geometry>
	            <box size="2.5 2.5 0.5" />
	        </geometry>
	        <material name="material_grey">
                <color rgba="0.5 0.5 0.5 1.0" />
            </material>
	    </visual>
	</static_object>

	<light name="light1" type="directional">
		<position xyz="2.0 -2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<light name="light2" type="directional">
		<position xyz="2.0 2.0 2.0" />
		<lookat xyz="0.0 0.0 0.0" />
	</light>

	<camera name="camera_fixed">
		<position xyz="2.3 0.0 1.1" />
		<vertical xyz="0.0 0.0 1.0" />
		<lookat xyz="0.0 0.0 0.7" />
	</camera>

	<!-- TODO: support stereo specification -->

</world>
